# Скопіюйте цей файл у .env та відредагуйте значення під себе

# Django
DEBUG=1
SECRET_KEY=django-insecure-change-this-key-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=hopbarley
DB_USER=hopbarley_user
DB_PASSWORD=hopbarley_pass
DB_HOST=db
DB_PORT=5432

# Зовнішні порти (docker-compose.yml) - на яких портах хоста
# сервіси будуть доступні ззовні контейнерів
DB_EXTERNAL_PORT=5432
WEB_EXTERNAL_PORT=8000
SERVER_PORT=8000
